<div class="text-center">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.giphy.com/media/3o6Ztl7RvfwCp9mqhW/giphy.gif);">
  <div class="container">
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
    <br>
    <%= link_to 'Create a movie list', new_list_path, class: 'btn btn-success' %>
  </div>
</div>
<br>
<div class="container">
  <div class="d-flex align-items justify-content-around mb-3">
    <h3 class="mb-0">🎬 My Lists</h3>
  </div>
  <div class="row-index d-flex align-items justify-content-around mb-3">
    <% @lists.each do |list| %>
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:'card text-decoration-none' do %>
          <%= list.name %>
          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
       </div>
    <% end %>
  </div>
</div>
</div>
