.container {
  display: grid;
  grid-gap: 16px;
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  justify-content: space-around;
  margin-bottom: 5px;
  margin-top: 5px;
  flex-grow: 1;
  }

.movie-img {
  display: flex-grow-1;
  align-items: center;
  justify-content: space-around;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

