.container-movie {
  display: flex;
  align-items: stretch;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

#movie {
  background-position: center;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

.movie-img {
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

